body{
    line-height: 1.5;
    margin: auto;
    font:1.2em/1.62em sans-serif;
    padding: 0 2em 0 2em;
    font-weight: 300;
}

.price {
    color: limegreen;
    font-weight: 900;
    float: right;
}

th {
    text-align: left;
}

td {
    width: 20%;
}

a {
    text-decoration: none;
}

strong{
    font-size: 110%;
    font-weight: 700;
    cursor: pointer;
    color: darkorange;
}

h1,h2,h3{
    line-height:1.2em;
    font-weight: 100;
}

.submit {
    width: 100%;
    background-color: darkorange;
    color: white;
    padding: 12px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

@media screen and (min-width: 500px){
    .header {
        font-size: 62px;
    }
    
    .submit {
        width: 200px;
        margin: auto;
        margin-top: 10px;
    }
}

@media screen and (min-width: 840px){
    body {
     max-width:40em;   
    }
    
    .header {
        font-size: 82px;
    }
    
    .submit {
        width: 200px;
        margin: auto;
        margin-top: 10px;
    }
}